
# Dependencias
node_modules
/.pnp
.pnp.js

# Build
.next/
out/
build

# Variables de Entorno (IMPORTANTE: Esto evita que se suban tus llaves)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros
.DS_Store
*.pem
