
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to get the role of the requesting user.
    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    // Helper function to check if the user is an Admin.
    function isAdmin() {
      return getUserRole() == 'Administrador';
    }

    // Helper function to check if the user is an Operator.
    function isOperator() {
      return getUserRole() == 'Operador';
    }
    
    // Helper function to check if the user is an Ayudantía.
    function isAyudantia() {
        return getUserRole() == 'Ayudantía';
    }

    // Users can only be read by Admins. A user can read their own data.
    // Users can only be created, updated, or deleted by Admins.
    match /users/{userId} {
      allow read: if request.auth.uid == userId || isAdmin();
      allow write: if isAdmin();
    }

    // Firefighters can be read by any authenticated user.
    // Firefighters can only be created, updated, or deleted by Admins.
    match /firefighters/{docId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    // Sessions (classes) can be read by Admins and Operators.
    // Sessions can be written by Admins and Operators.
    match /sessions/{docId} {
        allow read: if isAdmin() || isOperator();
        allow write: if isAdmin() || isOperator();
    }

    // Leaves can be read and written by Admins and Ayudantía.
    match /leaves/{docId} {
        allow read, write: if isAdmin() || isAyudantia();
    }

    // Courses can be read and written by Admins and Ayudantía.
    match /courses/{docId} {
        allow read, write: if isAdmin() || isAyudantia();
    }

    // Default deny all other paths.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
