rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para las imágenes de perfil
    match /profile_images/{userId}/{fileName} {
      // Solo el usuario autenticado puede escribir en su propia carpeta
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId
                   && resource.size < 5 * 1024 * 1024 // Limitar a 5MB
                   && resource.contentType.matches('image/.*'); // Solo imágenes
    }
  }
}
